@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Playfair+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}
/**/
/* header-right & logo */
.header-right {
    width: 100%;
    background-color: rgb(124, 35, 35);
    overflow: hidden;
    position: relative;
    float: left;
}
.header-right a {
    float: left;
    text-align: center;
    width: 20%;
    padding: 14px 16px;
    color: white;
    font-size: 36px;
    text-decoration: none;
    line-height: 10px;
}
.header-right a:hover {
    box-shadow: 0 8px 30px rgb(0, 0, 0);
    transition: 0.3s;
    border-radius: 5px;
}
.header-right a.active {
    background-color: rgb(73, 20, 20);
    box-shadow: 0 8px 30px rgb(41, 41, 41);
    transition: 0.3s;
    border-radius: 5px;
}
.header-right a.logo {
    font-size: 25px;
    font-weight: bold;
}
.logo {
    width: 250px;
    height: 100px;
    text-align: center;
}
/**/
/* Body */
body {
    font-family: Playfair+Display, sans-serif;
    font-weight: 300;
    color: black;
    width: 90%;
    margin: 0 auto;
}
/**/
/* Body & Structure */
body {
    font-family: Playfair+Display, sans-serif;
    font-weight: 300;
    color: black;
}
h1, h2 {
    font-family: Cormorant, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.gid-container {
    display:flex;
    grid-template-columns: repeat(3, minmax(56px, 80px));
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    justify-content: space-between;
  }
  
.gid {
    display: table;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 56px;
    font-size: 14px;
    text-decoration: none;
}
/**/
/* Footer & Social Media*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(124, 35, 35);
    color: white;
    text-align: center;
  }
/**/
/* Other Devices */
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: grid;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }