.header {
    overflow: hidden;
    background-image: linear-gradient(to top, #549752, #678ca1);
    padding: 3px;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    margin: 20px 0;
    padding: 3px;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    border-radius: 1px;
    text-indent: 10px;
}
.header a.logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.header a:hover {
    border-bottom: 1px solid black;
    color: black;
}
.header a.active {
    border-bottom: 1px solid black;
    color: black;
}
.header-right {
    font-size: 100%;
    float: right;
    margin-right: 20px;
}
body {
    background-color: #4b6a7c;
}
.Information {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


footer {
    text-align: center;
    padding: 3px;
    background-image: linear-gradient(to top, #549752, #678ca1);
    color: black;
}
img {
    width: 45px;
    height: 45px;
}
.skills {
    float: left;
}
fieldset {
    background-image: linear-gradient(to top, #549752, #678ca1);
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
    width: 10%;
    border: 2px solid black;
}
legend {
    background-color: #678ca1;
    color:black;
    padding: 10px 10px;
}