@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Poppins:ital,wght@1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}
/*------------------------- Header & Title/Logo -------------------------*/
.navbar {
    height: 120px;
    width: 100%;
    background-color: #eeeeee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pages {
    margin: 0;
    padding: 0;
    float: right;
    font-size: 32px;
}
.navbar-logo > img {
    padding: 10px;
    width: 128px;
    height: 96px;
    float: left;
}
a {
    padding: 8px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
li a {
    color: black;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
}
/*------------------------- Home/Body  -------------------------*/
body {
    text-align: center;
    background-color: white;
}
.the-art {
    text-align: center;
}
.the-art > img {
    width: 180px;
    height: 180px;
}
.origin {
    text-align: center;
}
/*-----------------------Rules/Body-----------------------*/
legend {
    padding-top: 24px;
    border: none;
    color: black;
}
fieldset {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 8px;
    margin-bottom: 72px;
    background-color: #eeeeee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    height: auto;
}
.rule {
    padding-top: 12px;
    padding-left: 32px;
    padding-right: 32px;
    word-wrap: break-word;
}
/*--------------------------Community/Body------------------*/
.judo {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
/*-------------------------Footer------------------------------*/
footer {
    position: fixed;
    bottom: 0;
}
/*------------------------- Other Devices -------------------------*/